In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle

# calculate return with close price

In [2]:
dense_returns = pd.read_csv('plotly/dense_return2020.csv', index_col=0)
# dense_return

In [3]:
# Load company meta data for sector information
comps = pd.read_csv('plotly/sp500.csv', index_col=0)
comps_sub1 = comps[['Symbol', 'Company_Name', 'GICS Sector']]

# check March to October

In [4]:
mar_oct_returns = dense_returns['2020-02-28':'2020-11-08'].sum().to_frame('mar_oct_returns').reset_index()
mar_oct_returns = mar_oct_returns.merge(comps_sub1, how='left', left_on='index', right_on='Symbol')
mar_oct_returns = mar_oct_returns.drop('Symbol', 1)
mar_oct_returns.columns = ['ticker', 'return', 'company', 'sector']
# mar_oct_returns

In [5]:
# mar_oct_returns.sort_values(by='return')

In [6]:
mar_oct_returns['return'].describe()

count    504.000000
mean       0.198633
std        0.264478
min       -0.601794
25%        0.033730
50%        0.204329
75%        0.361081
max        1.337821
Name: return, dtype: float64

In [7]:
march_oct_bysec_mean = mar_oct_returns.groupby('sector').mean().sort_values('return')

In [8]:
march_oct_bysec_mean

                          return
sector
Energy                 -0.200895
Real Estate            -0.027940
Utilities               0.082139
Financials              0.099313
Consumer Staples        0.162251
Communication Services  0.189921
Industrials             0.245204
Health Care             0.285886
Consumer Discretionary  0.301917
Information Technology  0.314610
Materials               0.354210

# On nov. 9th vaccine news released

In [9]:
nov9_ret = dense_returns[dense_returns.index=='2020-11-09'].T
nov9_ret = nov9_ret.sort_values('2020-11-09')
nov9_ret = nov9_ret.reset_index()

In [10]:
nov9_ret = nov9_ret.merge(comps_sub1, how='left', left_on='index', right_on='Symbol')
nov9_ret = nov9_ret.drop('Symbol', 1)
nov9_ret.columns = ['ticker', 'return', 'company', 'sector']

In [11]:
nov_sector_mean = nov9_ret.groupby('sector').mean().sort_values('return')

In [12]:
nov9_ret.iloc[:20]

   ticker    return                         company                  sector
0    BIIB -0.281666                     Biogen Inc.             Health Care
1    ETSY -0.171452                            Etsy  Consumer Discretionary
2    POOL -0.158244                Pool Corporation  Consumer Discretionary
3     CLX -0.106245              The Clorox Company        Consumer Staples
4     WHR -0.103898                 Whirlpool Corp.  Consumer Discretionary
5     BIO -0.098671            Bio-Rad Laboratories             Health Care
6     BBY -0.098001               Best Buy Co. Inc.  Consumer Discretionary
7     ROL -0.095155                    Rollins Inc.             Industrials
8     PKI -0.093489                     PerkinElmer             Health Care
9    FBHS -0.091672  Fortune Brands Home & Security             Industrials
10    LOW -0.089426                     Lowe's Cos.  Consumer Discretionary
11   HOLX -0.089274                         Hologic             Health Care
12   PYPL -0.088837                          PayPal  Information Technology
13   IDXX -0.087116              IDEXX Laboratories             Health Care
14   TTWO -0.086763            Take-Two Interactive  Communication Services
15   NFLX -0.085929                    Netflix Inc.  Communication Services
16    TMO -0.080866        Thermo Fisher Scientific             Health Care
17    DHI -0.080159                    D. R. Horton  Consumer Discretionary
18    PHM -0.078667                      PulteGroup  Consumer Discretionary
19   TSCO -0.077252          Tractor Supply Company  Consumer Discretionary

In [13]:
sec_performance = pd.concat([march_oct_bysec_mean, nov_sector_mean], axis=1)
sec_performance.columns = ['march_mean_ret', 'nov_mean_ret']

In [14]:
sec_performance.sort_values(by='nov_mean_ret')*100

                        march_mean_ret  nov_mean_ret
Consumer Staples             16.225147      0.223341
Health Care                  28.588564      0.926409
Information Technology       31.461007      1.549395
Communication Services       18.992110      2.149829
Utilities                     8.213921      2.645372
Materials                    35.421027      2.897302
Industrials                  24.520448      4.040178
Consumer Discretionary       30.191666      4.213028
Financials                    9.931326      9.353723
Real Estate                  -2.793977     10.614603
Energy                      -20.089544     17.610911

In [15]:
sec_performance.corr(method='spearman')

                march_mean_ret  nov_mean_ret
march_mean_ret        1.000000     -0.472727
nov_mean_ret         -0.472727      1.000000

## There is a large rebound in sector performance when vaccine released. Especially for Energy, Financials, and Real Estate.