In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle

# calculate return with close price

In [39]:
dense_return = pd.read_csv('plotly/dense_return2020.csv', index_col=0)
dense_return

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
data_date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,-0.016056,-0.049502,0.000063,-0.009722,-0.009492,-0.012576,-0.011788,-0.012191,-0.001665,-0.007834,...,-0.023020,-0.008039,-0.011066,-0.012998,0.005886,-0.003132,-0.002614,-0.011924,-0.014111,0.000149
2020-01-06,0.002956,-0.011935,-0.016435,0.007968,0.007892,0.014641,0.073253,0.005239,-0.006530,0.005726,...,-0.020844,0.007678,0.005506,-0.015089,-0.006474,-0.000589,-0.005779,0.007655,-0.012186,-0.007677
2020-01-07,0.003065,-0.003660,-0.011862,-0.004703,-0.005705,-0.007156,0.007317,-0.005559,-0.021590,-0.000959,...,0.022830,-0.008184,0.005299,0.001393,-0.003759,0.001768,-0.000879,-0.005969,-0.006070,0.003380
2020-01-08,0.009873,0.022777,-0.011488,0.016086,0.007087,0.009689,-0.009204,0.004076,0.001961,0.013438,...,-0.002815,-0.015080,0.010543,-0.000556,0.003396,0.001765,0.011974,-0.034429,0.009850,-0.002171
2020-01-09,0.015712,0.003951,-0.001893,0.021241,0.007708,0.014160,0.027478,0.002668,0.008907,0.007636,...,0.023493,0.007656,0.000696,0.018647,0.004513,0.007930,-0.006618,-0.004603,0.006633,0.013279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-01-25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-01-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-01-27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-01-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [40]:
# Load company meta data for sector information
comps = pd.read_csv('plotly/sp500.csv', index_col=0)
comps_sub1 = comps[['Symbol', 'Company_Name', 'GICS Sector']]

# check March to October

In [43]:
mar_oct_returns = dense_returns['2020-02-28':'2020-11-08'].sum().to_frame('mar_oct_returns').reset_index()
mar_oct_returns = mar_oct_returns.merge(comps_sub1, how='left', left_on='index', right_on='Symbol')
mar_oct_returns = mar_oct_returns.drop('Symbol', 1)
mar_oct_returns.columns = ['ticker', 'return', 'company', 'sector']
mar_oct_returns

    ticker    return                   company                  sector
0        A  0.433257  Agilent Technologies Inc             Health Care
1      AAL -0.127776   American Airlines Group             Industrials
2      AAP  0.252282        Advance Auto Parts  Consumer Discretionary
3     AAPL -0.128641                Apple Inc.  Information Technology
4     ABBV  0.134514               AbbVie Inc.             Health Care
..     ...       ...                       ...                     ...
499    ZBH  0.097217             Zimmer Biomet             Health Care
500   ZBRA  0.590897        Zebra Technologies  Information Technology
501   ZION -0.106666             Zions Bancorp              Financials
502    ZTS  0.305461                    Zoetis             Health Care
503    SPY  0.215699                       NaN                     NaN

[504 rows x 4 columns]

In [44]:
mar_oct_returns.sort_values(by='return')

    ticker    return                company                  sector
192    FTI -0.622429             TechnipFMC                  Energy
352    OXY -0.566222   Occidental Petroleum                  Energy
399    RTX -0.544432  Raytheon Technologies             Industrials
325    NEE -0.500851         NextEra Energy               Utilities
480    WFC -0.494467            Wells Fargo              Financials
..     ...       ...                    ...                     ...
177    FCX  0.896797  Freeport-McMoRan Inc.               Materials
340   NVDA  0.980174     Nvidia Corporation  Information Technology
24    ALGN  0.981800       Align Technology             Health Care
165   ETSY  1.127007                   Etsy  Consumer Discretionary
77    CARR  1.331752         Carrier Global             Industrials

[504 rows x 4 columns]

In [46]:
mar_oct_returns['return'].describe()

count    504.000000
mean       0.177103
std        0.274866
min       -0.622429
25%        0.006961
50%        0.183819
75%        0.344209
max        1.331752
Name: return, dtype: float64

In [47]:
march_oct_bysec_mean = mar_oct_returns.groupby('sector').mean().sort_values('return')

In [48]:
march_oct_bysec_mean

                          return
sector
Energy                 -0.229837
Real Estate            -0.056497
Utilities               0.032507
Financials              0.077068
Consumer Staples        0.143149
Communication Services  0.176648
Industrials             0.220084
Health Care             0.268707
Consumer Discretionary  0.293866
Information Technology  0.293929
Materials               0.336943

# On nov. 9th vaccine news released

In [49]:
nov9_ret = dense_returns[dense_returns.index=='2020-11-09'].T
nov9_ret = nov9_ret.sort_values('2020-11-09')
nov9_ret = nov9_ret.reset_index()

In [51]:
nov9_ret = nov9_ret.merge(comps_sub1, how='left', left_on='index', right_on='Symbol')
nov9_ret = nov9_ret.drop('Symbol', 1)
nov9_ret.columns = ['ticker', 'return', 'company', 'sector']

In [52]:
nov_sector_mean = nov9_ret.groupby('sector').mean().sort_values('return')

In [53]:
nov9_ret.iloc[:20]

   ticker    return                         company                  sector
0    BIIB -0.281666                     Biogen Inc.             Health Care
1    ETSY -0.171452                            Etsy  Consumer Discretionary
2    POOL -0.158244                Pool Corporation  Consumer Discretionary
3     CLX -0.106245              The Clorox Company        Consumer Staples
4     WHR -0.103898                 Whirlpool Corp.  Consumer Discretionary
5     BIO -0.098671            Bio-Rad Laboratories             Health Care
6     ROL -0.098480                    Rollins Inc.             Industrials
7     BBY -0.098001               Best Buy Co. Inc.  Consumer Discretionary
8     PKI -0.093489                     PerkinElmer             Health Care
9    FBHS -0.091672  Fortune Brands Home & Security             Industrials
10    LOW -0.089426                     Lowe's Cos.  Consumer Discretionary
11   HOLX -0.089274                         Hologic             Health Care
12   PYPL -0.088837                          PayPal  Information Technology
13   IDXX -0.087116              IDEXX Laboratories             Health Care
14   TTWO -0.086763            Take-Two Interactive  Communication Services
15   NFLX -0.085929                    Netflix Inc.  Communication Services
16    TMO -0.080866        Thermo Fisher Scientific             Health Care
17    DHI -0.080159                    D. R. Horton  Consumer Discretionary
18    PHM -0.078667                      PulteGroup  Consumer Discretionary
19   TSCO -0.077252          Tractor Supply Company  Consumer Discretionary

In [54]:
sec_performance = pd.concat([march_oct_bysec_mean, nov_sector_mean], axis=1)
sec_performance.columns = ['march_mean_ret', 'nov_mean_ret']

In [55]:
sec_performance.sort_values(by='nov_mean_ret')*100

                        march_mean_ret  nov_mean_ret
Consumer Staples             14.314870      0.223341
Health Care                  26.870660      0.925482
Information Technology       29.392905      1.525934
Communication Services       17.664824      2.149829
Utilities                     3.250726      2.604113
Materials                    33.694262      2.883403
Industrials                  22.008401      4.030627
Consumer Discretionary       29.386563      4.193891
Financials                    7.706760      9.352129
Real Estate                  -5.649701     10.579148
Energy                      -22.983748     17.610911

In [49]:
sec_performance.corr(method='spearman')

                march_mean_ret  nov_mean_ret
march_mean_ret        1.000000     -0.472727
nov_mean_ret         -0.472727      1.000000

## There is a large rebound in sector performance when vaccine released. Especially for Energy, Financials, and Real Estate.